<div id="comments"></div>

<form id="formForComments">
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="entry.1323878998" required><br><br>
  
  <label for="email">Email:</label><br>
  <input type="email" id="email" name="entry.100293989" required><br><br>
  
  <label for="comment">Comment:</label><br>
  <textarea id="comment" name="entry.1695891779" rows="4" cols="50"></textarea><br><br>

  <input type="hidden" id="posturl" name="entry.1724940548"><br><br>
  
  <button type="submit" id="submitButton">Submit</button>
</form>
<script src="form.js"></script>